.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

/* user*/
.header__navbar-user {
    display: flex;
    justify-content: space-between;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
    margin-left: 8px;
    font-size: 1.5rem;
    font-weight: 500;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

/* menu của user */
.header__navbar-user-menu {
    z-index: 1;
    position: absolute;
    padding-left: 0;
    top: 100%;
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    /* solid kiểu nét liền */
    border-width: 18.5px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -28px;
}


.header__navbar-user-item {}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

/* rê chuột vào để hiện bản qr code */
.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

/* rê chuột vào để hiện bản thông báo */
.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 2rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}


/* di vào làm chữ mờ đi */
.header__navbar-icon-link:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8)
}

.header__navbar-item--strong {
    font-weight: 600;
}

/* chèn dấu gạch trắng phía sau chữ */
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

/* khoảng cách giữa các icon */
.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

/* hiệu chỉnh bỏ mờ chữ kết nối  */
.header__navbar-title--no-poniter {
    cursor: text;
    color: var(--white-color);
}

/* header QR Code */
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    animation: fadeIn ease-in 0.5s;
    display: none;
}

/* chèn trc element trc phần header qr */
.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    left: 0;
    top: -16px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;

}

/* header notification - hiện thị phần thông báo */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    /* hiện thông báo từ phải ra thụt vô 20px */
    transform-origin: calc(100% - 20px)top;
    animation: headerNotifyGrowth ease-in 0.2s;
    /* tối ưu chuyển động cho trình duyệt */
    will-change: opacity, transform;
    /* ẩn bản thông báo */
    display: none;
    z-index: 1;

}

/* tạo khối hình tam giác dưới thông báo */
.header__notify::before {
    content: "";
    /* solid kiểu nét liền */
    border-width: 20px 27px;
    border-style: solid;
    background-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 14px;
    top: -30px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    height: 20px;
    width: 110px;
}

.header__notify::before {
    /* 1 chuỗi rỗng để tồn tại */
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        /* hiện bản thông báo từ trong ra ngoài */
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 45px;
    /* hiện thị con trỏ chuột thành biện tượng # */
    cursor: default;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #D3D3D3;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.1);
}

.header__notify-link {
    display: flex;
    padding: 10px;
    /* xóa gạch chân */
    text-decoration: none;
    width: 100%;
}

.header__notify-img {
    width: 50px;
    height: 42px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 10px;
}

.header__notify-name {
    /* tách thành khối xuống dòng */
    display: block;
    font-size: 1.6rem;
    color: var(--black-color);
    margin-bottom: 5px;
    line-height: 1.6rem;
}

.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 100px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 800;
}

/* authen modal */
.auth__form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 3px;
    /* ẩn đối tượng con ghi bị dè lên*/
    overflow: hidden;
}

.auth__form-container {
    padding: 0 32px;
}

.auth__form_header {
    display: flex;
    /* canh theo chiều còn lại */
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth__form-heading {
    font-size: 2.2rem;
    /* mỏng chữ */
    font-weight: 600;
}

.auth__form-switch-btn {
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--primary--color);
    cursor: pointer;
}

.auth__form-input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

/* focus input làm đậm lên khi chạm vào */
.auth__form-input:focus {
    border-color: #999;
}

.auth__form-aside {
    margin-top: 18px;
}

.auth__form-policy-text {
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth__form-text-link {
    color: var(--primary--color);
    text-decoration: none;
}

.auth__form-controls {
    /*display: flex;
    justify-content: flex-end; nhảy sang bên phải */
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

/* tách 2 nút ra */
.auth__form-controls-back {
    margin-right: 8px;
}

.auth__form-socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    line-height: 0;
}

/* icon form dk */
.auth__form-socials-icon {
    font-size: 1.8rem;
}

/* btn-FbvsInst: khoảng cách icon và chữ  */
.auth__form-socials-title {
    margin: 0 30px;
}

.auth__form-socials--facebook {
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth__form-socials--facebook .auth__form-socials-icon {
    color: var(--white-color);
}

.auth__form-socials--instagram {
    background-color: rgb(255, 106, 210);
    color: var(--black-color);
}

.auth__form-help {
    display: flex;
    justify-content: flex-end;
}

.auth__form-help-link {
    color: #999;
    text-decoration: none;
    font-size: 1.4rem;

}

.auth__form-help-separate {
    display: block;
    border-left: 1px solid var(--border-color);
    height: 13px;
    margin: 2px 16px 0;

}

.auth__form-help-forgot {
    color: var(--primary--color);
}

/* header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;

}

.header__search {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

/* giỏ hàng */
.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.5rem;
    margin-top: 4px;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

/* phần khung trắng của giỏ hàng */
.header__cart-list {
    position: absolute;
    top: calc(100% + 8px);
    right: -1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
}

/* phần bên trong của giỏ hàng */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none
}

.header__cart-list-item {
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #dbdbdb;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--border-color);
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary--color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.4rem;
    color: #757575;
}

.header__cart-item-body {
    text-align: left;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}

/* chữ xóa */
.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 800;
}

/* hover chữ xóa */
.header__cart-item-remove:hover {
    cursor: pointer;
    color: var(--primary--color);
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px;
}

.header__cart-view-cart:hover {
    background-color: #db8574;
}

/* phần lớp giả của giỏ hàng */
.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -25px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

/* phần ảnh chưa có sản phẩm */
.header__cart-list-no-cart {
    padding: 25px 0;
}

.header__cart-list-no-cart .header__cart-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img {
    width: 60%;
    /* ẩn hình ảnh giỏ hàng */
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 12px;
    color: var(--text-color);
}

/* số 3 phần giỏ hàng */
.header__cart-notice {
    position: absolute;
    padding: 2px 6px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: var(--primary--color);
    background-color: var(--white-color);
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    top: -7px;
    right: 0.5px;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-select {
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: rgb(205, 205, 205);
    margin: 0 16px 0 10px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary--color);
    border: none;
    height: 34px;
    width: 60px;
    margin-right: 3px;
    border-radius: 3px;
    outline: none;
}

.header__search-btn:hover {
    cursor: pointer;
    background-color: #db8574;
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color)
}

/* hover hiện thị phần ở khung tìm kiếm */
.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 12px;
    width: 128px;
    /* xoá dấu chấm của thẻ li */
    list-style: none;
    /* tạo bóng cho block */
    box-shadow: 0 0 3px #ccc;
    padding-left: 0px;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
    text-align: right;
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary--color);
    margin: 0 4px 0 12px;
}

.header__search-option-item--active i {
    display: inline-block;
}

/* select hover bấm vào ô tìm kiếm  */
.header__search-input:focus~.header__search-history {
    display: block;
}

/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow: 0 1px 5px #cacaca;
    border-radius: 2px;
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    margin: 9px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;

}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}